<header id="site-header" class="fixed-top">
    <section class="w3l-header-4">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <h1>
                    <a class="navbar-brand" href="index.html">

                        <img src="{{site.url}}/assets/images/logo.png" alt="">
                    </a>
                </h1>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa icon-expand fa-bars"></span>
                    <span class="fa icon-close fa-times"></span>
                </button>
                {%- capture pageurl -%}
                    {% if site.lang == 'en' %} {{site.url}}{% else%}{{site.url}}/{{site.lang}}{%- endif -%}
                {%- endcapture -%}
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item index active">
                            <a class="nav-link" href="{{pageurl}}/index.html">{% t nav.home %} </a>
                        </li>
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="#">{% t nav.documents %}</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="#">{% t nav.market %}</a>-->
<!--                        </li>-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >{% t nav.project %}</a>
                            <ul class="dropdown-menu">
                                <li><a href="https://dashboard.apron.network" target="_blank" target="_blank">{% t nav.node %}</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{pageurl}}/whitepaper.pdf" target="_blank">{% t nav.whitepaper %}</a>
                        </li>
                        <li class="nav-item blog">
                            <a class="nav-link" href="{{pageurl}}/blog">{% t nav.blog %}</a>

                        </li>
                        <li class="nav-item about">
                            <a class="nav-link" href="{{pageurl}}/about.html">{% t nav.about %}</a>
                        </li>
                    </ul>

                </div>

                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    {% if site.lang == "cn" %}
                                    {% capture link1 %}{{ site.baseurl_root }}/{% endcapture %}
                                    <a href="{{ link1 }}" >{% t global.english %}</a>
                                    {% elsif site.lang == "en" %}
                                    {% capture link2 %}{{ site.baseurl_root }}/cn{% endcapture %}
                                    <a href="{{ link2 }}" >{% t global.chinese %}</a>
                                    {% endif %}
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
            </nav>
        </div>
    </section>
</header>
