<section class="w3l-roadmap py-5" >
    <div class="gallery-inner container py-lg-5 py-md-4">
        <h3 class="title-big text-center mb-5  wow zoomIn" data-wow-delay="0.4s">{% t homepage.roadmaptop.title %}</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="fishBone   wow fadeInUp" data-wow-delay="0.4s">
                    <span class="prev"><i class="fa fa-chevron-left"></i></span>
                    <a class="next"><i class="fa fa-chevron-right"></i></a>
                    <div class="line"></div>
                    <div >
                        <div class="fishwrapper">
                            <div class="bd">
                                <ul>
                                    {% for item in site.translations[site.lang].homepage.roadmap %}
                                    <li class="item">
                                        <div class="content">
                                            <div>
                                                <div class="title"><div class="top-point"></div>{{ item.title }} </div>
                                                <div class="discription">{{ item.description }}</div>
                                                <div class=" line-point"></div>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
